<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="b43875bb-4d57-44b4-a10d-6f5751c959f4" environment="${mule.env}"/>
	<configuration doc:name="Configuration" doc:id="ec931822-009b-44de-8823-99e875922a0b" defaultErrorHandler-ref="apikit-error-handler" />
	<configuration-properties doc:name="Configuration properties" doc:id="b45c0698-921a-4f1c-984e-7e9c38222970" file="properties/apikit-errors.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="009ec5f7-4b4e-44f6-befb-7a82c94734ef" file="properties/app-errors.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="26afab94-af99-44c1-9370-9a5c97b60fe6" file="properties/app-properties.yaml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="45833987-f060-4183-a4e5-c396d76a34f1" >
		<db:my-sql-connection host="${database.host}" port="${database.port}" user="${database.username}" password="${database.password}" database="user" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="21963f93-c470-41f5-aca1-6d91db247c93" file="properties/app-secrets.yaml" />
	<configuration-properties doc:name="Configuration properties" doc:id="1cd11520-e222-4319-9cff-a14b3a5d4ed1" file="properties/app-constants.yaml" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5abce6f9-4e51-4871-b202-83c8859ae799" basePath="${http.base}" >
		<http:request-connection host="${http.host}" port="${http.port}" />
	</http:request-config>
	<apikit:config name="api-user-v1-config" api="api-user-v1.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="api-user-v1-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    
</mule>
